BasedOnStyle: WebKit
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterCaseLabel: true
  AfterControlStatement: true
  AfterFunction: true
  AfterStruct: true
  BeforeElse: true
  AfterEnum: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  AfterNamespace: false
PointerAlignment: Middle
CompactNamespaces: true
FixNamespaceComments: true
IndentCaseLabels: true
ColumnLimit: 150
BreakConstructorInitializers: BeforeComma
AlignAfterOpenBracket: Align
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: false
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBinaryOperators: None
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
AlignOperands: true
AlwaysBreakTemplateDeclarations: true
SortIncludes: false
SortUsingDeclarations: false
IndentPPDirectives: AfterHash
